a {
    text-decoration: none;
  }
  body {
    background-image: url(img/showcase.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  label {
    font-family: "Raleway", arial;
    font-size: 14pt;
  }
  #forgot-pass {
    color: red;
    font-family: "Raleway", arial;
    font-size: 12pt;
    margin-top: 4px;
    text-align: right;
  }
  #card {
    background: ;
    opacity: 0.8;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 410px;
    margin: 6rem auto 8.1rem auto;
    width: 329px;
    padding: 10px 1p px;
  }
  #card-content {
    padding: 12px 40px;
  }
  #card-title {
    font-family: "Raleway Thin", arial;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
  }
  #signup {
    color:rgb(153, 1, 1);
    font-family: "Raleway", arial;
    font-size: 10pt;
    margin-top: 16px;
    text-align: center;
  }
  #submit-btn {
    background: -webkit-linear-gradient(right, rgb(216, 92, 92), darkblue);
    border: 20px;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #c62f24;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", arial;
    height: 40px;
    margin: 0 auto;
    margin-top: 50px;
    transition: 0.25s;
    width: 153px;
  }
  #submit-btn:hover {
    box-shadow: 0px 1px 18px blue;
  }
  .form {
    align-items: left;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    box-shadow: 1px 2px 8px rgba(0,0, 0, 0.65);
    border-radius: 10px;
  }

  .form-border {
    background: -webkit-linear-gradient(right, rgb(216, 92, 92), darkblue);
    height: 1px;
    width: 100%;

  }
  .form-content {
    background: white;
    border: none;
    outline: none;
    padding-top: 14px;
  }
  .underline-title {
    background: -webkit-linear-gradient(right, rgb(66, 46, 46), rgb(194, 102, 102));
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 89px;
  }

  transition: all 0.5s;
